* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#app {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
}

#register-player {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#register-player h1 {
    margin-top: 9rem;
    font-size: 4rem;
}

#player-form {
    height: inherit;
    justify-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-form button {
    background: none;
    box-shadow: none;
    border: 1px solid white;
    text-shadow: none;
    color: white;
    padding: 0.25rem 0.5rem;
}
#player-form input {
    border: none;
    border-bottom: 1.5px white;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: white;
    padding: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

::placeholder {
    color: white;
    opacity: 1;
}